HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/



### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr



### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Planning documents
進度規劃.txt

#gemini
Gemini.md
.agents
整體專案功能.txt
copilot-commit-message-instructions.md
data/
